<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
Products!!!

<div class="menu">
    <a href="/about">about</a>
    <a href="/contact">contact</a>
    <a href="/">index</a>
</div>

<div class="products">
    <div class="product">
        <div class="title">Товар 1</div>
        <div class="description">Описание товара 1</div>
        <div class="price">199 $</div>
    </div>
    <div class="product">
        <div class="title">Товар 2</div>
        <div class="description">Описание товара 2</div>
        <div class="price">299 $</div>
    </div>
    <div class="product">
        <div class="title">Товар 3</div>
        <div class="description">Описание товара 3</div>
        <div class="price">399 $</div>
    </div>
    <div class="product">
        <div class="title">Товар 4</div>
        <div class="description">Описание товара 4</div>
        <div class="price">499 $</div>
    </div>
</div>
</body>
<script src="/js/main.js"></script>
</html>